/*=====================CRE Dashboard===========================*/
.o_dashboards {
    background-color: #f8faff !important;
    padding: 0px !important;
    margin-top: 80px;

}

.oe_app {
    float: left;
    margin: 5px 15px;
    height: 145px;
}

.oe_app_caption {
    width: 100px;
    margin: 0;
    padding: 0.67em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.1em;
    color: #eeeeee;
    line-height: 130%;
}

.card_actions {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
    padding: 40px;
}
